<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/assets/pictures/weather.png">
        <meta charset='utf-8'>

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <img class ="portrait" src="./assets/pictures/me.png" alt="Erreur de chargement">
        </div>
       
        {{>footer}}
    </body>
</html>